image {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-align {
  display: flex;
  align-items: center;
}

.rel {
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.level-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.vertical-middle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}